LOG_LEVEL=INFO
LOG_FORMAT=[%(asctime)s] %(levelname)s:%(name)s:%(message)s
OPENAPI_TITLE=CitrineOS Payment API
MESSAGE_BROKER_SSL_ACTIVE=False
MESSAGE_BROKER_HOST=amqp-broker.railway.internal
MESSAGE_BROKER_PORT=5672
MESSAGE_BROKER_USER=guest
MESSAGE_BROKER_PASSWORD=guest
MESSAGE_BROKER_VHOST=/
MESSAGE_BROKER_EXCHANGE_TYPE=headers
MESSAGE_BROKER_EXCHANGE_NAME=citrineos
MESSAGE_BROKER_EVENT_CONSUMER_QUEUE_NAME=paymentService
MESSAGE_BROKER_OCPP_QUEUE_PREFIX=ocpp16.send
WEBSERVER_HOST=0.0.0.0
WEBSERVER_PORT=9010
WEBSERVER_PATH=/api
DB_HOST=ocpp-db.railway.internal
DB_PORT=5432
DB_DATABASE=citrine
DB_USER=citrine
DB_PASSWORD=citrine
DB_TABLE_PREFIX=payment_
STRIPE_API_KEY=sk_test_placeholder
STRIPE_ENDPOINT_SECRET_ACCOUNT=whsec_placeholder
STRIPE_ENDPOINT_SECRET_CONNECT=whsec_placeholder
AMPAY_DEFAULT_FEE=20
AMPAY_COUNTRY_CODE_FOR_ADDING_TAX=US
AMPAY_ADDING_TAX_RATE=0
OCPP_REMOTESTART_IDTAG_PREFIX=PAY_
AMPAY_RECEIPT_BASE_URL=http://localhost:9010/receipt/
CITRINEOS_MESSAGE_API_URL=http://citrineos-core.railway.internal:8080/ocpp/
CITRINEOS_DATA_API_URL=http://citrineos-core.railway.internal:8080/data
CITRINEOS_SCAN_AND_CHARGE=true
CITRINEOS_DIRECTUS_URL=http://directus.railway.internal:8055
CITRINEOS_DIRECTUS_LOGIN_EMAIL=admin@citrineos.com
CITRINEOS_DIRECTUS_LOGIN_PASSWORD=CitrineOS!
CITRINEOS_DIRECTUS_QR_CODE_FOLDER=default
CLIENT_URL=http://localhost:9010
